<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="NextEvent - Conference & Event Responsive HTML5 Template" />
<meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
<meta name="author" content="ThemeMascot" />

<title>Hackathon</title>


<link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="css/animate.css" rel="stylesheet" type="text/css"> -->
<link href="public/css/css-plugin-collections.css" rel="stylesheet" />

<link id="menuzord-menu-skins" href="public/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />

<link href="public/css/style-main.css" rel="stylesheet" type="text/css">

<link href="public/css/colors/theme-color.css" rel="stylesheet" type="text/css">

<link href="public/css/preloader.css" rel="stylesheet" type="text/css">

<link href="public/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">

<link href="public/css/responsive.css" rel="stylesheet" type="text/css">



<link href="public/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
<link href="public/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
<link href="public/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

<script src="public/js/jquery-2.2.0.min.js"></script>
<script src="public/js/jquery-ui.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>

<script src="public/js/jquery-plugin-collection.js"></script>

<script src="public/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="public/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>



</head>
<body class>
<div id="wrapper">

<div id="preloader">
<div id="spinner">
<div class="preloader-dot-loading">
<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
</div>
</div>
<div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
</div>

<header class="header">
<div class="header-nav navbar-fixed-top navbar-dark navbar-transparent navbar-sticky-animated animated-active">
<div class="header-nav-wrapper">
<div class="container">
<nav id="menuzord-right" class="menuzord green">
<a class="menuzord-brand pull-left flip" href="javascript:void(0)"><img src="images/SAM_PROJECT-removebg-preview.png  " alt></a>
<ul class="menuzord-menu">
<li class="active"><a href="#home">Home</a></li>
<li><a href="#about">A Propos</a></li>
<li><a href="/actuialite">Actualités</a></li>
<li><a href="/index">Evènements</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</nav>
</div>
</div>
</div>
</header>

<div class="main-content">

<section id="home" class="divider">
<div class="container-fluid p-0">

<div class="rev_slider_wrapper">
<div class="rev_slider" data-version="5.0">
<ul>

<li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg17.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description>

<img src="public/images/bg/bg17.jpg" alt data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>


<div class="tp-caption tp-resizeme text-theme-colored" id="e" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-115']" data-fontsize="['30']" data-lineheight="['70']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-weight:600;">Premier événement:
</div>

<div class="tp-caption tp-resizeme text-center text-white font-montserrat" id="rs-1-layer-2" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-40'']" data-fontsize="['72','72','54','24']" data-lineheight="['90']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:600;">Mécanisation Durable : Vers l’Avenir
</div>

<div class="tp-caption tp-resizeme text-center text-white" id="rs-1-layer-3" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['40']" data-fontsize="['24']" data-lineheight="['36']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:600;">10-14 septembre, 2024, Safi
</div>
</li>

<li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg8.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description>

<img src="public/images/bg/bg8.jpg" alt data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>


<div class="tp-caption tp-resizeme text-theme-colored" id="rs-2-layer-1" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-115']" data-fontsize="['30']" data-lineheight="['70']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-weight:600;">deuxième événement:
</div>

<div class="tp-caption tp-resizeme text-center text-white font-montserrat" id="rs-2-layer-2" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-40'']" data-fontsize="['72','72','54','24']" data-lineheight="['90']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:600;">Révolution Durable en Mécanisation
</div>

<div class="tp-caption tp-resizeme text-center text-white" id="rs-2-layer-3" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['40']" data-fontsize="['24']" data-lineheight="['36']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:600;">02-08 Août, 2024, Safi
</div>
</li>

<li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg7.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description>

<img src="public/images/bg/bg7.jpg" alt data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>


<div class="tp-caption tp-resizeme text-theme-colored" id="rs-3-layer-1" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-115']" data-fontsize="['30']" data-lineheight="['70']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-weight:600; color:#bbb;">Troisième événement:
</div>

<div class="tp-caption tp-resizeme text-center text-white font-montserrat" id="rs-3-layer-2" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-40'']" data-fontsize="['72','72','54','24']" data-lineheight="['90']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:600;">Futur de l'Agriculture 3-25 Août, 2024, 
</div>

<div class="tp-caption tp-resizeme text-center text-white" id="rs-3-layer-3" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['40']" data-fontsize="['24']" data-lineheight="['36']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:600;">23-25 Août, 2024, Safi
</div>
</li>
</ul>
</div>
</div>

<script>
          $(document).ready(function(e) {
            var revapi = $(".rev_slider").revolution({
              sliderType:"standard",
              jsFileLocation: "public/js/revolution-slider/js/",
              sliderLayout: "fullscreen",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                      touchenabled: "on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                  },
                  arrows: {
                      style: "gyges",
                      enable: true,
                      hide_onmobile: false,
                      hide_onleave: true,
                      hide_delay: 200,
                      hide_delay_mobile: 1200,
                      tmp: '',
                      left: {
                          h_align: "left",
                          v_align: "center",
                          h_offset: 0,
                          v_offset: 0
                      },
                      right: {
                          h_align: "right",
                          v_align: "center",
                          h_offset: 0,
                          v_offset: 0
                      }
                  },
                    bullets: {
                    enable: true,
                    hide_onmobile: true,
                    hide_under: 800,
                    style: "hebe",
                    hide_onleave: false,
                    direction: "horizontal",
                    h_align: "center",
                    v_align: "bottom",
                    h_offset: 0,
                    v_offset: 30,
                    space: 5,
                    tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                }
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [700, 768, 960, 720],
              lazyType: "none",
              parallax:"mouse",
              parallaxBgFreeze:"off",
              parallaxLevels:[2,3,4,5,6,7,8,9,10,1],
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
              }
            });
          });
        </script>

</div>
</section>

<section id="about">
<div class="container pt-0">
<div class="row mb-60">
<div class="col-md-12">
<div class="divider layer-overlay overlay-deep" data-margin-top="-165px" data-bg-img="images/bg/bg1.jpg">
<div class="col-md-12 col-lg-8 p-50 pl-md-0 pr-0 md-text-center">
<h2 class="text-black-444">Rencontrez-vous pour une inscription gratuite</h2>
<ul class="list-inline xs-list-inline-none mt-50">
<li>
<h4 class="text-gray-light"><i class="fa fa-map-marker text-theme-colored"></i> Location</h4>
<h6 class="text-gray">Safi, Maroc</h6>
</li>
<li class="ml-30">
<h4 class="text-gray-light"><i class="fa fa-ticket text-theme-colored"></i> Tickets</h4>
<h6 class="text-gray">200 Billets restants</h6>
</li>
<li class="ml-30">
<h4 class="text-gray-light"><i class="fa fa-microphone text-theme-colored"></i> Speakers</h4>
<h6 class="text-gray">25 Intervenants professionnels</h6>
</li>
</ul>
</div>
<div class="col-md-12 col-lg-4 pr-0 pl-md-0">
<div id="clock" class="countdown-timer timer-box bg-theme-colored" data-endingdate="2020/02/15"></div>
</div>
</div>
</div>
</div>

</div>
</section>


</div>
<div class="row mb-70">
<div class="col-md-12 text-center">
<h3 class="sub-title font-28 text-gray-darkgray m-0 mt-0 mt-md-0"> À propos</h3>
<h2 class="title font-48 text-gray mt-0 mb-20">AL Moutmir</h2>
<p class="mb-20">Lancée en septembre 2018, Al Moutmir est une offre multiservices comprenant des solutions innovantes et personnalisées pour mieux accompagner les agriculteurs et surtout les petits. Cette initiative est axée sur la promotion des meilleures pratiques agricoles, techniques et de gouvernance, et en particulier la fertilisation raisonnée comme véritable levier pour améliorer la productivité et préserver les ressources naturelles.</p>
<p>Al Moutmir fournit des produits et services avancés, dont des analyses de sols et des formations. Nous renforçons les capacités des agriculteurs, des femmes rurales, des coopératives et des jeunes leaders pour transformer l'agriculture de subsistance en un business durable, avec une approche scientifique.


</p>
</div>
</div>

<footer id="footer" class="footer" data-bg-color="#121212">
<div class="container pt-60 pb-30">
<div class="row">
<div class="col-md-6 col-md-offset-3 text-center">
<img src="public/images/SAM_PROJECT-removebg-preview.png" alt>
<p class="font-12 mt-20 mb-20">SAM Project est une initiative innovante dédiée à l'agriculture, offrant des solutions et des outils spécialement conçus pour le secteur agricole. Cet événement met en lumière les dernières avancées et meilleures pratiques dans le domaine, tout en facilitant les échanges entre professionnels et experts. Rejoignez-nous pour découvrir comment SAM Project peut transformer vos pratiques agricoles et améliorer vos résultats.</p>
<ul class="social-icons flat medium list-inline mb-40">
<li><a href="#"><i class="fa fa-facebook"></i></a> </li>
<li><a href="#"><i class="fa fa-twitter"></i></a> </li>
<li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
<li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
<li><a href="#"><i class="fa fa-youtube"></i></a> </li>
</ul>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-3">
<div class="widget dark">
<h6 class="widget-title line-bottom">Liens rapides</h6>
<ul class="list-border list theme-colored angle-double-right">
<li><a href="#">Evenement</a></li>
<li><a href="#">Contactez-nous</a></li>
<li><a href="#">Map</a></li>
<li><a href="#">Copyright Notice</a></li>
</ul>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="widget dark">
<h6 class="widget-title line-bottom">Dernières nouvelles</h6>
<div class="latest-posts">
<article class="post media-post clearfix pb-0 mb-10">
<div class="post-right">
<h5 class="post-title mt-0 mb-5"><a href="#">Révolution Durable en Mécanisation</a></h5>
<p class="post-date mb-0 font-12">02-08 Août 2024</p>
</div>
</article>
<article class="post media-post clearfix pb-0 mb-10">
<div class="post-right">
<h5 class="post-title mt-0 mb-5"><a href="#">Mécanisation Durable : Vers l’Avenir</a></h5>
<p class="post-date mb-0 font-12">10-14 septembre 2024</p>
</div>
</article>
<article class="post media-post clearfix pb-0 mb-10">
<div class="post-right">
<h5 class="post-title mt-0 mb-5"><a href="#">Futur de l'Agriculture</a></h5>
<p class="post-date mb-0 font-12"> 23-25 Août 2024</p>
</div>
</article>
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="widget dark">
<h6 class="widget-title line-bottom">Etiquettes</h6>
<ul class="list-inline tags">
<li><a href="#">Agriculture</a></li>
<li><a href="#">Technologie</a></li>
<li><a href="#">OCP</a></li>
<li><a href="#">Almoutmir</a></li>
<li><a href="#">YouCode</a></li>
<li><a href="#">Safi</a></li>
<li><a href="#">Evenement</a></li>
<li><a href="#">TechAgri</a></li>
<li><a href="#">Music</a></li>
<li><a href="#">AgriTech</a></li>
<li><a href="#">Ticket</a></li>
<li><a href="#">InnovationFermière</a></li>
<li><a href="#">Agriculture2024</a></li>
<li><a href="#">Speakers</a></li>
<li><a href="#">FuturDeLAgriculture</a></li>
</ul>
</div>
</div>

</div>

</div>
<div class="container-fluid p-20" data-bg-color="#181818">
<div class="row text-center">
<div class="col-md-12">
<p class="font-11 m-0" data-text-color="#555">Copyright &copy;2024 <a class="font-11" href="#">Hackathon</a>. All Rights Reserved</p>
</div>
</div>
</div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>



<script src="public/js/custom.js"></script>

<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>

<!-- Mirrored from html.kodesolution.com/2016/nextevent-html/demo/index-sp-layout1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Aug 2024 15:19:10 GMT -->
</html>