<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <style>
        .table{
            display: flex;
    justify-content: center; /* Centre le tableau horizontalement */
    padding: 20px;
        }
        table {
            width: 80%;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ccc;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .titre {
            max-width: 700px;
            
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Événements auxquels vous avez participé</h1>
    <div class="table">
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>status</th>
                
            </tr>
        </thead>
        <tbody>
            <% if (evenements.length > 0) { %>
                <% evenements.forEach(function(evenement) { %>
                    <tr>
                        <td class="titre"><%= evenement.titre %></td>
                        <td><%= evenement.status %></td>
                        
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="3">Aucun événement trouvé.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
</body>
</html>
